each tweet in initialTweetStore
  .twitterFeeds__tweet
    if( tweet.retweet === true )
      .twitterFeeds__tweet--retweet.retweet-js
        span.icon-retweet
        span.twitterFeeds__tweet--retweetUser #{ tweet.whoRetweeted } retweeted
    include __tweetUserProfile
      
        
    .twitterFeeds__content
      .twitterFeeds__content--imgProfile 
        img(class="displayProfile-js", src=tweet.profile_image_url, alt=`image for ${ tweet.screen_name }` )
      .twitterFeeds__content--float
        h3.twitterFeeds__content--userName.displayProfile-js #{tweet.name} #[span= `@${tweet.screen_name}`]
        p.twitterFeeds__content--tweetText !{tweet.text}
    .twitterFeeds__content--image
      if ( tweet.tweetImage !== 'no image')
        img(src="#{ tweet.tweetImage }", alt="image tweet")
    
      .twitterFeeds__social
        ul.twitterFeeds__social--list
          li.twitterFeeds__social--item.icon-reply
          
          if ( tweet.tweet_count > 0 )
            li.twitterFeeds__social--item.icon-retweet:  span #{ tweet.tweet_count }
          else
            li.twitterFeeds__social--item.icon-retweet
          
          if ( tweet.tweet_count > 0 )
            li.twitterFeeds__social--item.icon-star:  span #{ tweet.favorite_count }
          else
            li.twitterFeeds__social--item.icon-star
          li.twitterFeeds__social--item ...
    
