img(src="#{ userStore.profile_banner_url}", alt="profile banner")
img(src="#{ userStore.profile_image_url}", alt="profile iamge")
h3 #{ userStore.name }
h5 @#{ userStore.screen_name }

ul
  li TWEETS #[span #{ userStore.statuses_count }]
  li FOLLOWING #[span #{ userStore.followers_count }]
  li FOLLOWERS #[span #{ userStore.friends_count }]
